/* Estilos globales */
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right, white 33%, #3498db 33%, #3498db 66%, #ffcc29 66%, #ffcc29 100%);
    background-size: 100% 100%;
}

h1 {
    margin-top: 20px;
    font-size: 36px;
    color: #f8fcff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
}

/* Sección de opciones, récord e información */
.options, .record, .info {
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    width: 30%;
}

label {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

#numCards {
    width: 40px;
    text-align: center;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 18px;
}

/* Botón de cierre y otros botones */
.close-btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.close-btn:hover {
    background-color: darkred;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background: rgba(52, 152, 219, 0.7);
    color: #010000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px;
}

button:hover {
    background: rgba(3, 30, 48, 0.7);
}

/* Sección de récords e información de la partida */
.record p, .info p {
    font-size: 18px;
    color: #0d1920;
    margin: 0;
    padding-right: 1rem;
}

/* Tablero de memoria */
.memory-board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
    max-width: 100vw;
    width: 90%;
    margin: 10px auto;
}

/* Estilos de las tarjetas */
.card {
    width: 100px;
    height: 150px;
    border: 2px solid #020608;
    cursor: pointer;
    transition: transform 0.3s;
    perspective: 1000px;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card .dorso, .card .anverso {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transform-style: preserve-3d;
}

.card .dorso {
    background: #3498db;
    transform: rotateY(0deg);
}

.card .anverso {
    background: #fff;
    transform: rotateY(180deg);
}

.card.matched {
    border-color: #4CAF50;
    box-shadow: 0px 0px 10px rgba(76, 175, 80, 0.7);
}

.card[data-flipped="true"] .dorso {
    transform: rotateY(180deg);
}

.card[data-flipped="true"] .anverso {
    transform: rotateY(0deg);
}

/* Animaciones de las tarjetas */
@keyframes matchAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.card[data-flipped="true"][data-match="true"] {
    animation: matchAnimation 0.5s ease-in-out;
}

@keyframes winAnimation {
    0%, 100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }
}

#win-message {
    animation: winAnimation 1s ease-in-out infinite;
}

.card[data-flipped="true"] {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Estilos del cuadro modal */
#showText {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
    z-index: 2;
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showText .modal-image {
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
}

/* Fondo semitransparente detrás del cuadro modal */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 1;
}
