/* EJERCICIO 1A */


/* Elementos reconocidos por la propia etiqueta. */
p {
  color: black;
  font-size: 16px;
}

/* Elementos reconocidos por el id*/
#width-actual,
#height-actual {
  background-color: yellow;
}

/* Elementos reconocidos por la clase */
.error-message {
  font-weight: bold;
}

/* Elementos reconocidos elementos mixtos */
label[for="color"] {
  text-decoration: underline;
}

/* Elementos contenidos dentro de otros elementos reconocidos por su clase o id */
.form #width-actual,
.form #height-actual {
  border: 1px solid red;
}

/*ESTILOS*/
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.container h1 {
  font-size: 24px;
  margin-top: 0;
  color: #333;
}


.container .form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container label {
  margin-bottom: 6px;
  font-weight: bold;
}

.container input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.error {
  background-color: red;
}

.error-message {
  color: red;
  font-size: 12px;
}